
.color-txt-img{
  color: black;
}
.color-txt-img{
  color: black;
}
.quitar-linea {
  text-decoration: none;
}

.color-links{
  color: white;
}

.color-bg{
  color: rgb(127, 255, 155);
}

.color-bg-txt{
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  padding: 10px;
  margin-bottom: 20px;
}

.text-color-black{
  color: rgb(0, 0, 0);
}

/* Resultados de busqueda */
.result {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: white;
}


/* Regresar al inicio */
#scrollBtn {
  display: none; /* Oculto por defecto */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

#scrollBtn:hover {
  background-color: #333;
}


/* Redondear Imagenes */
.rounded-image{
  border-radius: 15px;
}

.size-logo{
  width: 150px;
  height: auto;
}

.linksf{
  color: white;
}
.navbar {
  transition: top 0.3s;
}